{% extends 'base.html' %}

{% block body %}

<br><br><br><br><br><br>

<h1 align="center" >历史上的今天</h1>
<br/>
<form method='POST' action='/content'>
<table align="center">

	<tr>
		<td><input name='month' type='date' width='90' 
			   placeholder="请输入所要查找的日期（月）" 
			   style="width:250px;height:25px;">;
	</tr>
</table>

<table align="center">

	<tr>
		<td><input name='day' type='date' width='90' 
			   placeholder="请输入所要查找的日期（天）" 
			   style="width:250px;height:25px;">;<input value='查询'

			   type='SUBMIT' ></td>
	</tr>
</table>
</form>

{% endblock %}


