body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        150%;
  background:       url(长城.jpg) center center;
  color:            white;
  margin: 0;
  padding: 0;
}
a {
  text-decoration:  none; 
  font-weight:      600; 
}
a:hover {
  text-decoration:  underline;
}

a img {

  border:           0;

}

h2 {

  font-size:        180%;

}

table {

  margin-left:      20px;

  margin-right:     20px;

  caption-side:     mediate;

  border-collapse:  collapse;

}

td, th {

  padding:          5px;

  text-align:       left;

}



/*** Tables ***/



table {

font-size:          1em;

background-color:   transparent;

border:             2px solid #ffffff;

border-style:       ridge;

color:              #ffffff;

padding:            5px 5px 2px;

border-collapse:    collapse;

}



td, th {

border:             thin dotted gray;

}



/*** Inputs ***/

input[type=text] {

  font-size:        100%;

  width:            30em;

}

input[type=submit] {

  font-size:        100%;

  border-top-left-radius:0.5em;

  border-top-right-radius:0.5em;

  border-bottom-left-radius:0.5em;

  border-bottom-right-radius:0.5em;

  box-shadow:0px 1px 2px rgba(0,0,0,0.2);

  color:#595959;

}

select {

  font-size:        125%;

}
